{% extends 'base.html' %}

{% block content %}
<div class="title">
    <h1>Welcome to My Drone Webiste</h1>
    <h4>A site to show off my drones and things i have done with them</h4>
</div>

<div id="why">
    <h2>Why i have drones</h2>
    <p>The Main reason i wanted to fly drones was because i saw how awsome the FPV shot you could get with them. They started me off on the path of trying to fly drones.</p>
    <p>My first drone was a tiny whoop kit which was prebuilt. unforunlty it was damaged and had to go back on fourth with the seller. while i was emailing them the transmitter was compatible with the simulator and got the first feeling of flying FPV.</p>
    <img id="tinywhoop" src="https://m.media-amazon.com/images/I/51bpsHO1g5L._AC_UF894,1000_QL80_.jpg" alt="" width=" 300px">
    <p>Once i got my drone up and running it was all i was doing for days flying in horiontal mode for learning and being able to fly around the outside of my house teaching me alot of the basics of FPV.</p>
    <br>
    <br>
    <p>I also started to get into the DJI set of drones which are alot slower however the quality of pictures you can get cant be machted.</p>
    <img src="../static/IMG_20230615_190254_183.jpg" alt="" id="tinywhoop">
    <br>
    <br>
    <h3>Have a look at my drones </h3>
    <a href="{{url_for('mydrones')}}"><button type="button" class="btn btn-primary">See them here</button></a>
    <br>
    <br>

</div>
{% endblock %}